.App {
    height: 100vh;
    margin: 0;
    scrollbar-width: none;
}

.Terminal {
    padding: 100px;
    background-color: rgb(12,36,18);
    height: 100%;
    width: 100%;
}

.App::-webkit-scrollbar{
    display: none;
}

#scan, #bezel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

#scan {
    opacity: 70%;
}

#text, #title, input{
    font-family: VT323;
    font-size: 25px;
    color: rgb(19,224,68);
    text-shadow: 1px 1px 2px rgb(19,224,68), 0 0 5em rgb(19,224,68), 0 0 0.2em rgb(19,224,68);
}

#text {
    flex: 1;
    display: felx;
    flex-direction: column-reverse;
    max-height: 60vh;
    overflow: auto;
    scrollbar-width: none;
}

#title {
    font-size: 70px;
    white-space: pre;
}

#inputfield {
    width: 68vw;
    display: inline-block;
}

input {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    caret-color: rgb(19,224,68);;
    caret-shape: block;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}